POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5438
POSTGRES_HOST=gophermart_postgres
POSTGRES_DATABASE_NAME=gophermart_postgres

RUN_ADDRESS=localhost:8080
DATABASE_URI=postgres://user:password@localhost:5438/gophermart_postgres?sslmode=disable